.contenedor {
    border: 5px solid rgb(189, 19, 19);
    background-color: #fff1ff;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    place-content: center;
    grid-auto-rows: 150px;
    gap: 5px;

    grid-template-areas: 
        "uno dos dos"
        "tres tres cuatro"
        "cinco seis siete";
}
.item {
    border-radius: 10px;
    font-size: 4rem;
}
.item-1 {
    background-color: brown;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-area: uno;
}
.item-2 {
    background-color:yellowgreen;
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-area: dos;
}
.item-3 {
    background-color:turquoise;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-area: tres;
}
.item-4 {
    background-color:tomato;
    /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-area: cuatro;
}
.item-5 {
    background-color:teal;
    grid-area: cinco;
}
.item-6 {
    background-color:steelblue;
    grid-area: seis;
}
.item-7 {
    background-color:sienna;
    grid-area: siete;
}